@charset "UTF-8";
$black: #212121;
$lightgray: #f5f6f7;
$blue: #3dcfd4;
$lightblue: #65dadc;
$white: #fff;
$yellow: #eeec50;
$skin: #f2e0d5;
$purple: #e0eaff;
$red: #df1a1a;
$lightgreen: #f4f8d7;
$lightorange: #faf3eb;
$redpurple: #f5edf3;
$lightred: #e51642;
$darkgreen: #268f84;
$skyblue: #dffbfe;
$skygreen: #f4fcd2;
$lightyellow: #fff6ea;
$winered: #cc3399;
$wineblue: #728295;
$clearblue: #30d1c0;
$gray: #d7d7d7;
